.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #f71735;
    border: unset ! important;
}

.nav-pills .nav-link {
    color: #7E8299;
    background-color: #F3F6F9 ;
    border: unset ! important;
}

.nav-pills .nav-link {
    border-radius: unset ! important;
}

.nav-pills .nav-link {
    
    display: block;
    cursor: pointer;
    padding: 8px 22px;
    margin-bottom: 5px;
    line-height: 22px;
    width: auto;
    position: relative;
    z-index: 3;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid #0b0c26;
    
}

.img-custom{
    object-fit: cover;
    width:100%;
}

